/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #43494a;
  overflow: hidden;
}

/* Your custom styles go here */
